# mbedTLS
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK=y

# enable static allocation
CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y

# set FreeRTOS tick
CONFIG_FREERTOS_HZ=100
